{% extends "layouts/base.html" %}

{% block content %}
<section class="blog-container">

    <nav class="cmd-nav">
        <a href="{{ url_for('main.home') }}" class="cmd-link">
            <span class="cmd-prompt"><i class="fa-solid fa-arrow-left"></i></span>back to home
        </a>
    </nav>

    <div class="blog-header-section">
        <h1 class="terminal-title">ADNAN | BLOG<span class="blink">_</span></h1>
        <p class="terminal-subtitle">Berbagi pemikiran, pengalaman, dan tutorial yang aku tulis untuk membantu dan
            menginspirasi kalian. Selamat membaca, yaaa!</p>
        </p>
    </div>

    {% include "components/blog_list.html" %}

</section>
{% endblock %}