<!-- Crafted by Adnan Slamet -->
<!-- Under MIT License -->
<!DOCTYPE html>
<html lang="en">
    <!-- head start -->
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <title>
            {% block title %}Adnan Slamet Wibowo | Portfolio{% endblock %}
        </title>
        <!-- seo -->
        <meta content="{% block description %}Portfolio Adnan Slamet Wibowo. I am a Web Developer & Prompt Designer from Indonesia. Check out the latest creative projects and technological innovations.{% endblock %}" name="description"/>
        <meta content="Adnan Slamet Wibowo, ATE, aadnanmt, Adnan, Web Developer in Indonesia, Prompt Designer, Linux Enthusiast, Adnan Portfolio" name="keywords"/>
        <meta content="Adnan Slamet Wibowo" name="author"/>
        <meta content="index, follow" name="robots"/>
        <link href="https://aadnanmt.web.id/" rel="canonical"/>
        <link as="image" href="{{ url_for('static', filename='img/me.webp') }}" rel="preload"/>
        <!-- seo -->
        <meta content="website" property="og:type"/>
        <meta content="https://aadnanmt.web.id/" property="og:url"/>
        <meta content="{% block og_title %}{{ self.title() }}{% endblock %}" property="og:title"/>
        <meta content="{% block og_description %}{{ self.description() }}{% endblock %}" property="og:description"/>
        <meta content="{{ url_for('static', filename='img/me.jpg', _external=True) }}" property="og:image"/>
        <meta content="summary_large_image" name="twitter:card"/>
        <meta content="@aadnanmt" name="twitter:site"/>
        <meta content="@aadnanmt" name="twitter:creator"/>
        <meta content="{{ self.og_title() }}" name="twitter:title"/>
        <meta content="{{ self.og_description() }}" name="twitter:description"/>
        <meta content="{{ url_for('static', filename='img/me.jpg', _external=True) }}" name="twitter:image"/>
        <!-- icon head -->
        <link href="{{ url_for('static', filename='svg/iconan.svg') }}" rel="icon" type="image/svg+xml"/>
        <link href="{{ url_for('static', filename='svg/iconan.svg') }}" rel="apple-touch-icon"/>
        <meta content="#0a0a0a" name="theme-color"/>
        <!-- tag js and scss -->
        {{vite_asset('frontend/js/main.js')}}
        <!-- for /blog | soon -->
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/blog-index.css', v='1.1') }}" /> -->
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/blog-posts.css', v='1.1') }}" /> -->
        <!-- package from font awesome-->
        <link href="{{ url_for('static', filename='css/all.css') }}" rel="stylesheet"/>
        <!-- style syntax from package python-->
        <link href="{{ url_for('static', filename='css/syntax.css') }}" rel="stylesheet"/>
        <script type="application/ld+json">
            {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Adnan Slamet Wibowo",
        "url": "https://aadnanmt.web.id",
        "image": "https://aadnanmt.web.id/static/img/me.jpg",
        "sameAs": [
          "https://www.github.com/aadnanmt",
          "https://www.linkedin.com/in/adnan-slamet-wibowo-73906035b",
          "https://www.x.com/aadnanmt",
          "https://www.instagram.com/aadnanmt",
          "https://www.tiktok.com/aadnanmt"
        ],
        "jobTitle": "Web Developer & Prompt Designer",
        "worksFor": {
          "@type": "Organization",
          "name": "Freelance / Open to Work"
        },
        "description": "I am a web developer. I specialize in modern web development. I also specialize in prompting artificial intelligence."
      }
        </script>
    </head>
    <!-- head end -->
    <!-- body start -->
    <body>
        {% include 'components/navbar.html' %}
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
    {% include 'components/footer.html' %}
</html>