/* ======= RESET & BASE STYLE ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  background: var(--cyan);
  color: var(--bg-dark);
  text-shadow: none;
}

html {
  scroll-behavior: smooth;
}