/* ======= FONTS ======== */
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/space-grotesk-v22-latin-300.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/space-grotesk-v22-latin-500.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/space-grotesk-v22-latin-700.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Syncopate";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/syncopate-v24-latin-regular.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Syncopate";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/syncopate-v24-latin-700.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/jetbrains-mono-v24-latin-regular.woff2) format("woff2");
}

:root {
  /* --- MAIN COLORS --- */
  --bg-dark: #050508;
  --cyan: #00f0ff;
  --green: #00ff00;
  --purple: #7000ff;
  --red: #ff5f56;  
  --yellow: #ffbd2e;
  --white: #ffffff;
  
  /* --- TEXT --- */
  --text-main: #ffffff;
  --text-muted: #8b9bb4;
  
  /* --- UTILITIES --- */
  --glass: rgba(15, 15, 22, 0.6);
  --border: 1px solid rgba(0, 240, 255, 0.2);
  --border-dim: rgba(255, 255, 255, 0.1);
  --shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  
  /* --- FONTS --- */
  --font-head: "Syncopate", sans-serif;
  --font-body: "Space Grotesk", sans-serif;
  --font-code: "JetBrains Mono", monospace;
}


/* ======= RESET & BASE STYLE ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  background: var(--cyan);
  color: var(--bg-dark);
  text-shadow: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-main);
  font-family: var(--font-body);
  overflow-x: hidden;
  line-height: 1.6;
}