/* ====== MOBILE {Media Query} ====== */
@media (max-width: 768px) {
  /* ----- Header & Nav ------ */
  .header {
    top: 0;
    padding: 0;
    backdrop-filter: blur(10px);
  }

  .glass-panel {
    width: 100%;

    border: none;
    border-bottom: var(--border);
    padding: 15px 20px;
    background: #fff0;
  }

  .nav-menu {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: rgb(5 5 8 / 0.98);
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
    opacity: 0;
    pointer-events: none;
    border-bottom: var(--border);
  }

  .nav-menu.active {
    height: 100vh;
    opacity: 1;
    pointer-events: auto;
    padding-top: 50px;
  }

  .nav-link {
    font-size: 1.1rem;
    display: block;
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }

  .nav-extra {
    margin-left: auto;
    margin-right: 0;
  }

  /* ----- Hero Section ------ */
  .status {
  padding: 6px 12px;
  font-size: .65rem;
}

  .hero-content h1 {
    font-size: clamp(1.2rem, 1.8vw, 1.5rem);
  }

  .hero-subtitle {
    font-size: 0.8rem;
  }

  .hero-buttons {
    flex-direction: column;
  }

  .btn-primary,
  .btn-secondary {
    width: 100%;
    text-align: center;
    display: block;
  }

  /* ---- Layout Adjust ----- */
  .section-title {
    font-size: 1.3rem;
  }

  .mt-large {
    margin-top: 40px;
  }

  /* ---- About Section ----- */
  .about-grid {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .profile-wrapper {
    width: 220px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .img-border {
    height: 95%;
  }

  .about-text {
    font-size: 0.8rem;
  }

  /* ----- Tools & Skills ------ */
  .tools-grid {
    justify-content: center;
  }

  .tool-item {
    width: 80px;
    height: 80px;
    min-width: 30px;
  }

  .tool-item i {
    font-size: 1.6rem;
  }

  .tool-item span {
    font-size: 0.6rem;
  }

  .skill-cards-grid {
    grid-template-columns: 1fr;
  }

  /* ---- Contact ----- */
  .contact-container {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .contact-detail {
    margin: 0;
    padding: 20px;
  }

  .contact-form-wrapper {
    padding: 20px;
  }

  .stack-title {
    text-align: center;
    margin-bottom: 15px;
  }

  .contact-instan {
    font-size: 0.78rem;
  }

  /* --- Footer ----- */
  .footer {
    border-top: 1px solid rgb(0 240 255 / 0.1);
    background: rgb(5 5 8 / 0.8);
    padding: 60px 20px 30px;
    margin-top: 100px;
  }

  .footer-columns {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }

  .footer-column h3 {
    border-left: none;
    border-bottom: 2px solid var(--cyan);
    display: inline-block;
    padding-bottom: 5px;
    padding-left: 0;
  }

  .footer-item {
    justify-content: center;
  }

  .footer-stack {
    justify-content: center;
  }

  .footer-credit {
    font-size: 0.65rem;
  }
}