/* ======= HEADER & NAV ======== */
.header {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  transition: 0.3s;

  @include mobile {
    top: 0;
    padding: 0;
    backdrop-filter: blur(10px);
  }
}

.glass-panel {
  background: var(--glass);
  backdrop-filter: blur(10px);
  border: var(--border);

  padding: 15px 40px;
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    width: 100%;
    border: none;
    border-bottom: var(--border);
    padding: 15px 20px;
    background: #fff0;
  }
}

.nav-logo {
  font-family: var(--font-head);
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;

  @include mobile {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: rgb(5 5 8 / 0.98);
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
    opacity: 0;
    pointer-events: none;
    border-bottom: var(--border);
  }
}

.cyan {
  color: var(--cyan);
}

.nav-menu {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: var(--text-muted);
  font-size: 0.85rem;
  font-weight: 500;
  transition: 0.3s;
  font-family: var(--font-head);
}

.nav-link:hover {
  color: var(--cyan);
}

.hamburger {
  display: none;
  background: rgb(255 255 255 / 0.05);
  border: 1px solid rgb(255 255 255 / 0.2);
  width: 40px;
  height: 40px;

  cursor: pointer;
  transition: all 0.3s ease;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.hamburger:hover {
  background: rgb(0 240 255 / 0.1);
  border-color: var(--cyan);
}

.hamburger:active {
  transform: scale(0.45);
}

.bar {
  height: 3px;
  background: var(--cyan);
  transition: 0.3s ease;
}

.bar:nth-child(1),
.bar:nth-child(2),
.bar:nth-child(3) {
  width: 24px;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-extra {
  display: flex;
  align-items: center;
  gap: 15px;
}

.lang-toggle-btn {
  background: rgb(255 255 255 / 0.05);
  border: 1px solid rgb(255 255 255 / 0.2);
  color: var(--cyan);
  font-family: var(--font-code);
  font-weight: 800;
  font-size: 0.9rem;
  width: 40px;
  height: 40px;

  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang-toggle-btn:hover {
  background: rgb(0 240 255 / 0.1);
  border-color: var(--cyan);
}

.lang-toggle-btn:active {
  transform: scale(0.95);
}