/* ======= UTILITI & PRELOADER ======== */
.mt-4 {
  margin-top: 40px;
}

.mt-large {
  margin-top: 80px;
}

#particle-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 0.5s ease;
}

.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(
    circle at center,
    transparent 0%,
    var(--bg-dark) 80%
  );
  pointer-events: none;
}

#preloader {
  position: fixed;
  inset: 0;
  background: var(--bg-dark);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

.canvas-hidden {
  opacity: 0 !important;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.scanner-ring {
  width: 60px;
  height: 60px;
  border: 4.98px solid #fff0;
  border-top-color: var(--cyan);
  border-right-color: var(--cyan);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 20px;
}

.loading-text {
  font-family: var(--font-head);
  letter-spacing: 2px;
  color: var(--cyan);
  font-size: 1.4rem;
  margin-bottom: 10px;
  text-align: center;
}

.terminal-log {
  font-family: var(--font-code);
  color: var(--text-muted);
  font-size: 0.8rem;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.content-section {
  max-width: 1100px;
  margin: 100px auto;
  padding: 0 20px;
}

.section-title-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.section-title {
  font-family: var(--font-head);
  color: #fff;
  font-size: 1.8rem;
}

.line {
  flex-grow: 1;
  height: 1px;
  background: linear-gradient(90deg, var(--cyan), transparent);
}

.glass-card {
  background: var(--glass);
  /* backdrop-filter: blur(5px); */
  border: var(--border);

  padding: 30px;
  transition: 0.3s;
}

.glass-card:hover {
  border-color: var(--cyan);
  transform: translateY(-5px);
}

.top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: var(--glass);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: var(--border);
  color: var(--cyan);
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px) scale(0.9);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.top i {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.top:hover {
  background: var(--bg-dark);
  color: var(--cyan);
  border-color: var(--cyan);
  transform: translateY(-5px) scale(1.1);
}

.top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
}