<!-- about/profile section start -->
<section class="content-section" id="about">
    <div class="section-title-wrapper">
        <h2 class="section-title">
            <i class="fa-solid fa-terminal fa-fade">
            </i>
            <span data-lang="my-Profile">
            </span>
        </h2>
        <div class="line">
        </div>
    </div>
    <div class="about-grid">
        <div class="profile-wrapper c-frame">
            <img alt="Adnan Action" class="profile-img img-action" loading="lazy" src="{{ url_for('static', filename='img/me-act.webp') }}"/>
            <img alt="Adnan Profile" class="profile-img img-main" loading="lazy" src="{{ url_for('static', filename='img/me.webp') }}"/>
        </div>
        <div class="glass-card">
            <div class="code-header">
                <span class="filename" data-lang="aboutTXT">
                </span>
            </div>
            <p class="about-text" data-lang="aboutTXT-Adnan">
            </p>
        </div>
    </div>
</section>
<!-- about/profile section end -->
