<!-- contact section start -->
<section class="content-section" id="contact">
    <div class="section-title-wrapper">
        <h2 class="section-title" data-lang="my-contact">
            <i class="fa-solid fa-terminal fa-fade">
            </i>
        </h2>
        <div class="line">
        </div>
    </div>
    <div class="contact-container">
        <div class="contact-form-wrapper glass-card">
            <form action="https://api.web3forms.com/submit" method="POST">
                <input name="access_key" type="hidden" value="6da570d1-76ee-409c-ad0b-c07b60f64676"/>
                <div class="form-group">
                    <label data-lang="Your-name">
                    </label>
                    <input aria-label="Your name" name="name" placeholder="_" required="" type="text"/>
                </div>
                <div class="form-group">
                    <label data-lang="Your-email">
                    </label>
                    <input aria-label="Your email" name="email" placeholder="_" required="" type="email"/>
                </div>
                <div class="form-group">
                    <label data-lang="Your-message">
                    </label>
                    <textarea aria-label="Message" cols="10" name="message" placeholder="_" required="" rows="5">
                    </textarea>
                </div>
                <button class="btn-primary full-width" data-lang="Send-Message" type="submit">
                </button>
            </form>
        </div>
        <div class="instant-contact-wrapper mt-large">
            <h3 class="stack-title" data-lang="Simple-contact">
            </h3>
            <div class="contact-detail glass-card">
                <a class="contact-item" href="https://wa.me/6285177134033" rel="noopener noreferrer" target="_blank">
                    <div class="icon-box">
                        <i class="fab fa-whatsapp">
                        </i>
                    </div>
                    <div class="contact-text">
                        <h4 class="title-contact">
                            WhatsApp
                        </h4>
                        <span class="contact-instan" data-lang="contact-text">
                        </span>
                    </div>
                </a>
                <a class="contact-item" href="mailto:aadnanmtcontact@gmail.com">
                    <div class="icon-box">
                        <i class="fas fa-envelope">
                        </i>
                    </div>
                    <div class="contact-text">
                        <h4 class="title-contact">
                            Email
                        </h4>
                        <span class="contact-instan">
                            aadnanmtcontact@gmail.com
                        </span>
                    </div>
                </a>
                <a class="contact-item" href="https://t.me/aadnanmtech" rel="noopener noreferrer" target="_blank">
                    <div class="icon-box">
                        <i class="fab fa-telegram">
                        </i>
                    </div>
                    <div class="contact-text">
                        <h4 class="title-contact">
                            Telegram
                        </h4>
                        <span class="contact-instan" data-lang="Telegram-Contact">
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- contact section end -->
