<footer class="footer">
    <div class="footer-container">
        <div class="footer-columns">
            <div class="footer-column">
                <h3 data-lang="Contact-Foot">
                </h3>
                <div class="footer-item">
                    <i class="fas fa-map-marker-alt cyan">
                    </i>
                    <div>
                        <p>
                            Malang, Jawa Timur, Indonesia.
                        </p>
                    </div>
                </div>
                <div class="footer-item">
                    <i class="fas fa-envelope cyan">
                    </i>
                    <p>
                        contact@aadnanmt.web.id
                    </p>
                </div>
                <div class="footer-item">
                    <i class="fas fa-phone cyan">
                    </i>
                    <p>
                        0851-7713-4033
                    </p>
                </div>
            </div>
            <div class="footer-column">
                <h3 data-lang="Instan-link">
                </h3>
                <ul class="footer-links">
          <li>
            <a href="{{ url_for('main.home') }}" {% if request.endpoint=='main.home' %}
              onclick="document.getElementById('hero').scrollIntoView({ behavior: 'smooth' }); return false;" {% endif
              %}>
              <span data-lang="home"></span>
            </a>
          </li>

          <li>
            <a href="{{ url_for('main.home', _anchor='about') }}" {% if request.endpoint=='main.home'
              %} onclick="document.getElementById('about').scrollIntoView({ behavior: 'smooth' }); return false;" {%
              endif %}>
              <span data-lang="profile"></span>
            </a>
          </li>

          <li>
            <a href="{{ url_for('main.home', _anchor='skills') }}" {% if request.endpoint=='main.home'
              %} onclick="document.getElementById('skills').scrollIntoView({ behavior: 'smooth' }); return false;" {%
              endif %}>
              <span data-lang="skills"></span>
            </a>
          </li>

          <li>
            <a href="{{ url_for('main.home', _anchor='projects') }}" {% if
              request.endpoint=='main.home' %}
              onclick="document.getElementById('projects').scrollIntoView({ behavior: 'smooth' }); return false;" {%
              endif %}>
              <span data-lang="projects"></span>
            </a>
          </li>

          <li>
            <a href="{{ url_for('main.home', _anchor='contact') }}" {% if request.endpoint=='main.home'
              %} onclick="document.getElementById('contact').scrollIntoView({ behavior: 'smooth' }); return false;" {%
              endif %}>
              <span data-lang="contact"></span>
            </a>
          </li>

          <li>
            <a href="{{ url_for('blog.index') }}">
              <span data-lang="blog"></span>
            </a>
          </li>
        </ul>
            </div>
            <div class="footer-column">
                <h3 data-lang="build">
                </h3>
                <div class="footer-stack">
                    <span>
                        HTML
                    </span>
                    <span>
                        CSS
                    </span>
                    <span>
                        JavaScript
                    </span>
                    <span>
                        Flask
                    </span>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="social-icons">
                <a aria-label="Github" href="https://github.com/aadnanmt" rel="noopener noreferrer" target="_blank">
                    <i class="fab fa-github">
                    </i>
                </a>
                <a aria-label="LinkedIn" href="https://linkedin.com/in/adnan-slamet-wibowo-73906035b" rel="noopener noreferrer" target="_blank">
                    <i class="fab fa-linkedin">
                    </i>
                </a>
                <a aria-label="X" href="https://x.com/aadnanmt" rel="noopener noreferrer" target="_blank">
                    <i class="fab fa-twitter">
                    </i>
                </a>
                <a aria-label="Instagram" href="https://instagram.com/aadnanmt" rel="noopener noreferrer" target="_blank">
                    <i class="fab fa-instagram">
                    </i>
                </a>
                <a aria-label="TikTok" href="https://tiktok.com/@aadnanmt" rel="noopener noreferrer" target="_blank">
                    <i class="fab fa-tiktok">
                    </i>
                </a>
                <a aria-label="Spotify" href="https://open.spotify.com/user/314bjvthnpohaain54tchezpc4ji?si=7_MuMQsPTk2sGxhQrx44UQ" rel="noopener noreferrer" target="_blank">
                    <i class="fab fa-spotify">
                    </i>
                </a>
            </div>
            <p class="footer-credit">
                ©
                <span id="current-year">
                </span>
                <span data-lang="credit-craft">
                </span>
                <a class="cyan" href="https://github.com/aadnanmt" target="_blank">
                    Adnan
                </a>
                <span data-lang="underUnder">
                </span>
                <a class="cyan" data-lang="credit-license" href="https://opensource.org/licenses/MIT" target="_blank">
                </a>
            </p>
        </div>
    </div>
</footer>