<!-- hero section start -->
<section class="hero-section" id="hero">
    <div class="hero-content">
        <div class="status" data-lang="status-me">
            <i class="fa-solid fa-terminal fa-fade">
            </i>
        </div>
        <h1 class="glitch-text" data-text="Adnan Slamet W.">
            Adnan Slamet Wibowo
        </h1>
        <p class="hero-subtitle">
            <span data-lang="hero-subtitle">
                I am a
            </span>
            <span id="typing-text">
            </span>
            <span class="cursor">
                _
            </span>
        </p>
        <!-- hero button -->
        <div class="hero-buttons">
            <a class="btn-primary" href="#projects" onclick="
                document
                  .getElementById('projects')
                  .scrollIntoView({ behavior: 'smooth' });
                return false;
              ">
                <span data-lang="explore-project">
                </span>
            </a>
            <a class="btn-secondary" href="#contact" onclick="
                document
                  .getElementById('contact')
                  .scrollIntoView({ behavior: 'smooth' });
                return false;
              ">
                <span data-lang="contact-me">
                </span>
            </a>
        </div>
        <!-- sosial media link+icom -->
        <div class="social-links">
            <a aria-label="Visit Github Adnan" href="https://github.com/aadnanmt" rel="noopener noreferrer" target="_blank">
                <i class="fab fa-github">
                </i>
            </a>
            <a aria-label="Visit LinkedIn Adnan" href="https://linkedin.com/in/adnan-slamet-wibowo-73906035b" rel="noopener noreferrer" target="_blank">
                <i class="fab fa-linkedin">
                </i>
            </a>
            <a aria-label="Visit LynkId Adnan" href="https://lynk.id/aadnanmt" rel="noopener noreferrer" target="_blank">
                <i class="fa-solid fa-store">
                </i>
            </a>
            <a aria-label="Visit X (Twitter) Adnan" href="https://x.com/aadnanmt" rel="noopener noreferrer" target="_blank">
                <i class="fa-brands fa-x-twitter">
                </i>
            </a>
            <a aria-label="Visit Instagram Adnan" href="https://instagram.com/aadnanmt" rel="noopener noreferrer" target="_blank">
                <i class="fab fa-instagram">
                </i>
            </a>
        </div>
    </div>
</section>
<!-- hero sectin end -->
