attrs==25.4.0
autocommand==2.2.2
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
dbus-python==1.4.0
filelock==3.20.3
html5lib==1.1
idna==3.11
jaraco-collections==5.1.0
jaraco-context==6.0.1
jaraco-functools==4.1.0
jaraco-text==4.0.0
levenshtein==0.27.3
more-itertools==10.8.0
ndiff==7.96
nftables==0.1
packaging==26.0
pexpect==4.9.0
pillow==12.1.0
pip==25.3
platformdirs==4.5.1
psutil==7.2.1
ptyprocess==0.7.0
pycairo==1.29.0
pycparser==2.23
pygobject==3.54.5
pyinotify==0.9.6
pyqt-builder==1.19.1
pyqt6==6.10.2
pyqt6-sip==13.11.0
pyqt6-webengine==6.10.0
python-pam==2.0.2
pytz==2025.2
pyxdg==0.28
rapidfuzz==3.14.3
requests==2.32.5
setproctitle==1.3.7
setuptools==80.9.0
sip==6.15.1
six==1.17.0
tinycss2==1.5.1
ufw==0.36.2
ulauncher==5.15.15
urllib3==2.6.3
webencodings==0.5.1
websocket-client==1.9.0
wheel==0.45.1
zenmap==7.97
