blinker==1.9.0
click==8.3.1
Flask==3.1.2
Flask-Minify==0.50
htmlminf==0.1.13
itsdangerous==2.2.0
Jinja2==3.1.6
jsmin==3.0.1
lesscpy==0.15.1
Markdown==3.10.1
MarkupSafe==3.0.3
ply==3.11
Pygments==2.19.2
python-frontmatter==1.1.0
PyYAML==6.0.3
rcssmin==1.2.2
six==1.17.0
Werkzeug==3.1.5
xxhash==3.6.0
